@import "asciidoctor.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600");

html {
 font-size: 14px;
 overflow-x: hidden;
}

html, body {
 font-family: 'Roboto', sans-serif;
}

li.toc-item, toc-link, #toc ul {
 font-family: "Roboto", sans-serif;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
 font-family: 'Roboto', sans-serif;
}

pre, pre > code {
 font-family: 'Source Code Pro', monospace;
}

*:not(pre) > code {
 font-family: 'Source Code Pro', monospace;
}

body {
 color: #222;
 background: #fff;
 padding: 0;
 margin: 0;
 font-style: normal;
 tab-size: 4;
}

#header> h1:first-child, #toc > #toctitle {
 color: #0b6ec7;
 font-weight: bold;
 font-size: 20px;
 line-height: 1;
}

#header, #content, #footnotes, #footer {
 max-width: 100%;
 padding: 0px;
}

#content {
 padding: 0 40px 0 40px;
 margin-top: 0px;
}

#header {
 border-bottom: 1px solid #ddddd8;
}

#header .details {
 border-bottom: none;
 line-height: 2.2em;
 margin-bottom: 15px;
 margin-top: -10px;
 padding-left: 0px;
}

#header .details #revremark {
 color: #565656;
 display: block;
 font-size: .8em;
 position: absolute;
 right: 40px;
 text-align: right;
 top: 60px;
 width: 150px;
}

#header .details #revremark:before {
 content: "" !important;
}

#header #revnumber {
 margin-left: 30px;
 color: #0b6ec7;
 font-size: 16px !important;
 font-weight: 300 !important;
}

#header > h1:first-child {
 margin-top: 25px;
 margin-left: 30px;
 width: 200px;
}

h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3, #toctitle, .sidebarblock > .content > .title { font-size: 1.8em; }
h4 { font-size: 1.6em; }

h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6 {
 color: #0b6ec7;
 margin-top: 0.2em;
 line-height: 1.4;
}

#content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link {
 color: #0b6ec7;
 font-weight: bold;
}

#content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content>.title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover {
    color: #0b6ec7;
}

#content h1 > a.anchor:before, h2 > a.anchor:before, h3 > a.anchor:before, #toctitle > a.anchor:before, .sidebarblock > .content > .title > a.anchor:before, h4 > a.anchor:before, h5 > a.anchor:before, h6 > a.anchor:before {
 padding-top: 0px;
}

a {
 color: #0b6ec7;
 text-decoration: none;
}

a:hover, a:focus {
 color: black;
}

p {
 font-size: 20px;
 font-weight: 400;
 margin-bottom: 0.5em;
 line-height: 1.5;
}

p, td.content {
 letter-spacing: 0px;
}

ol > li p, ul > li p, ul dd, ol dd, .olist .olist, .ulist .ulist, .ulist .olist, .olist .ulist {
 margin-bottom: 0.25em;
}

ul, ol, dl {
 line-height: 1.5;
 margin-bottom: 0.5em;
}

ul li ul, ul li ol {
 margin-left: 5px;
}

dl dt {
 margin-bottom: 0.3em;
 font-size: 16px;
}

dl dd {
 margin-left: 1.125em;
 margin-bottom: 0.75em;
}

*:not(pre) > code {
 font-size: 20px;
 word-wrap: break-word;
 padding: 0px;
 word-spacing: 0px;
 line-height: inherit;
 border-radius: unset;
}

pre, pre>code {
 line-height: 1.6;
}

.sect1, .sect2, .sect3, .sect4, .sect5 {
 padding-top: 1em;
}

.sect1 {
 padding-bottom: 1.25em;
}

.admonitionblock > table {
 margin-bottom: 0;
}
.admonitionblock .icon {
 display: none;
}

.admonitionblock > table td.content {
 border-left: none;
}

#footer {
 display: none;
}

.warning {
 background: #f8e8e8;
 margin-bottom: 10px;
 border: none;
 padding: 8px;
}

.tip {
 background: #ecf2ff;
 padding: 8px;
 margin: 10px 0;
}

.admonitionblock > table td.content {
 padding-left: 1.125em;
 padding-right: 1.25em;
 color: #000;
}

#content .sect1, #content .sect2, #content .sect3, #content .sect4, #content .sect5 {
 max-width: 1100px;
}

#content {
 margin-bottom: 30px;
}

.audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
 margin-bottom: 1.25em;
 margin-top: 1.25em;
}

.listingblock {
 font-size: 20px;
 background-color: #f1f1f1;
 padding: 15px 0px;
}

.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
 padding: 0.75em;
 border: none;
 font-size: 0.90625em;
}

.listingblock pre[class] {
 border-left: none;
 margin-left: 15px;
 padding: 0 0.5em;
}

.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
 background: none;
}

/* toc menu */
#toc {
 padding-bottom: 0px;
}

#toc a {
 color: #222;
}

#toc a:hover, a:focus {
 color: #005eb3;
}

#toc a:active {
 text-decoration: none;
}

#toc > #toctitle {
 color: #0b6ec7;
 font-weight: bold;
 font-size: 40px;
}

#toc.toc2 {
 margin: 0 30px 0 30px;
}

#toc > ul {
 margin-left: 0;
 font-size: 30px;
 margin-bottom: 0px;
}

@media only screen and (min-width:768px){
 #toc.toc2 {
  border-right: 1px solid #ddddd8;
  margin: 0px;
 }

 #toc.toc2 ul ul {
  padding-left: 0px;
 }

 #toc.toc2 > .sectlevel1 li {
  padding: 0px 0px 1px 5px;
 }

 h1 {
  font-size: 2.875em;
 }

 h2 {
  font-size: 2.375em;
 }

 h3, #toctitle, .sidebarblock > .content > .title {
  font-size: 1.4875em;
 }

 h4 {
  font-size: 1.2875em;
 }

 h5 {
  font-size: 1.4em;
 }

 h6 {
  font-size: 1.2em;
 }

 #content {
  padding: 0 40px 0 100px;
  margin-top: 1.25em;
 }

 #header > h1:first-child {
  width: 100%;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 0;
 }

 #header .details #revremark {
  width: auto;
 }

 #header #revnumber {
  margin-left: 100px;
 }

 .sect1 {
  padding-bottom: .625em;
 }

 p {
  font-size: 16px;
 }

 *:not(pre) > code {
  font-size: 14px;
 }

 .listingblock {
  font-size: 14px;
 }

 .literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
  font-size: 1em;
 }
}

@media only screen and (min-width:1280px) {
 #toc.toc2 #toctitle {
  font-size: 21px;
  margin-top: 8px;
  vertical-align: top;
  margin-left: 8px;
  line-height: 1.4;
  padding-left: 5px;
 }

 #toc.toc2 {
  padding: 0px;
 }

 #toc.toc2 > .sectlevel1 {
  padding: 5px;
  padding-top: 10px;
 }

 #toc.toc2 > .sectlevel1 li {
  padding: 3px 0px 3px 10px;
 }

 #toc.toc2 > ul {
  font-size: 0.95em;
 }

 #toc.toc2 a {
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-size: 15px;
 }
}
