@import "asciidoctor.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --main-title-color: #0b6ec7;
  --main-text-color: #222;
  --a-href-color: black;
  --toc-a-href-color: #005eb3;
}


#header> h1:first-child {
 color: var(--main-title-color);
}
#header .details {
 color: var(--main-title-color);
}

h1, h2, h3, #toctitle, .sidebarblock>.content>.title, h4, h5, h6 {
 color: var(--main-title-color);
}

#content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link {
 color: var(--main-title-color);
}

#content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content>.title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover {
    color: var(--main-title-color);
    text-decoration: underline;
}

a {
 color: var(--main-title-color);
}

a:hover, a:focus {
 color: var(--a-href-color);
}

/* toc menu */
#toc > #toctitle, #toc a {
 color: var(--main-text-color);
}

#toc a:hover, a:focus {
 color: var(--toc-a-href-color);
}
